.DigitalInputs {
  flex-direction: row;
  display: flex;
  gap: 1rem;
}
.DigitalInputs2 {
  flex-direction: row;
  display: flex;
  gap: 10rem;
  margin-left: 3rem;
}
.DigitalInputs3 {
  flex-direction: row;
  display: flex;
  gap: 10rem;
}
.DigitalInputs4 {
  flex-direction: row;
  display: flex;
  gap: 15rem;
  margin-bottom: 4rem;
}
.DigitalInputs5 {
  flex-direction: column;
  display:inline-grid;
  gap: 15rem;
  margin-bottom: 4rem;
}
.flow-graph {
  font-family: consolas, sans-serif;
}

.flow-graph-label {
  flex-grow: 10;
}
.flow-graph-value {
  flex-grow: 1;
  margin-left: 2em;
  margin-right: 2em;
}

.CycleProgress1 {
  display: inline-flex;
  border: 1.5px solid white;
  background: white;
  border-radius: 0.08cm;
  padding: 0.1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 1rem;
}
.CycleProgress2 {
  display: flex;
  border: 1.5px solid white;
  background: white;
  border-radius: 0.08cm;
  padding: 0.1rem;
  margin-left: 0.5rem;
  gap: 30rem;
  width: 80%;
}
.CycleProgress3 {
  display: inline-block;
  background: white;
  padding: 0.2rem;
  min-height: 5rem;
}
.CycleProgress4 {
  display: inline-block;
  background: white;
  padding: 0.2em;
  min-height: 5rem;
  width: 15rem;
}
.CycleCard {
  display: flex;
}
