.DigitalInputs {
  flex-direction: row;
  display: flex;
  gap: 1rem;
}
.DigitalInputs2 {
  flex-direction: row;
  display: flex;
  gap: 10rem;
  margin-left: 3rem;
}
.DigitalInputs3 {
  flex-direction: row;
  display: flex;
  gap: 10rem;
}
.DigitalInputs4 {
  flex-direction: row;
  display: flex;
  gap: 15rem;
  margin-bottom: 4rem;
}
.DigitalInputs5 {
  flex-direction: column;
  display:inline-grid;
  gap: 15rem;
  margin-bottom: 4rem;
}
.flow-graph {
  font-family: consolas, sans-serif;
}

.flow-graph-label {
  flex-grow: 10;
}
.flow-graph-value {
  flex-grow: 1;
  margin-left: 2em;
  margin-right: 2em;
}
