.DataDumpCard {
  min-width: 20rem;
  width: auto;
  height: auto;
  color: rgb(255, 255, 255);
  display: inline-flex;
  background: rgb(255, 255, 255);
  border: 1.5px solid rgba(2, 3, 10, 0.603);
  border-radius: 0.08cm;
  padding: 2%;
  gap: 2rem;
}
.DataDumpText {
  display: inline-flex;
  flex-direction: column;
  align-items:center;
  align-content:center;
}
.DataDumpText2 {
  margin-top: 1rem;
}
