.EquipmentStatusIcon {
  display: inline-block;
}
.EquipmentStatusCard {
  display: inline-block;
  border: 1.5px solid grey;
  border-radius: 0.08cm;
  padding: 1%;
  min-width: 30rem;
  width: auto;
  height: auto;
}
.EquipmentStatusOutterCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 0.05rem;
}
