.icons {
  width: auto;
  height: auto;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid black;
  border-top-left-radius: 0.08cm;
  border-top-right-radius: 0.08cm;
}
.icons2 {
  width: auto;
  height: auto;
  margin-left: 0.5rem;
}
